*{
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  /* tất cả các class có tên bắt đầu là col-1*/
 
  /*Them 1 dòng trống và thiết lập clear:both*/
  .row::after {
  content: "";
  clear: both;
  display: table;
  padding-top: 30px;
  }
@media only screen and (max-width: 768px){
    /*For mobile phones:*/
    [class*="col-"] {
        width: 100%;
    }
}
@media screen and (max-width:540px) {
    .container {
      max-width: 320px !important;
    }
}
@media screen and (max-width:1024px) {
    .container {
      max-width: 960px !important;
    }
}
@media screen and (max-width:769px) {
    .container {
      max-width: 720px !important;
    }
}
  .container {
    max-width: 1170px;
    margin: 0 auto
  }

@media only screen and (min-width: 768px){
    /*For máy tính bảng*/
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px){
    /*For desktop*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  
.container {
  width: 100%;
  overflow: hidden;
}
.head {
  width: 100%;
  height: 395px;
  background: url('../img/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display:flex;
  padding: 20px 0
}

.head1 img {
  width: 124px;

}

#menu ul {
  display: flex;
  justify-content: flex-end;
}
#menu ul li {
  list-style-type: none;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px;
}
#menu ul li a {
  text-decoration: none;
  color: #fff;
  
}
.head3 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
  padding-left: 30px;
}
.gioithieu{
  margin: 50px;
  margin-left: 80px;
}
.gioithieu a {
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  /* border: 1px solid #fff; */
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5%;
  font-weight: 600;
  background-color: cornflowerblue;
  transition: 0.3s all ease-in-out;
  
}
.gioithieu a:hover {
  background-color: #ade8f4;
  color: #0096c7;
}
.content,
.content-search {
  width: 100%;
  

}
.title {
  display:flex;
  padding: 20px 0;
  justify-content: center;

}
.title p{
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #333;
  
}
.search-btn {
  padding: 20px 0;
  position: relative
}
.search-btn a {
 color: #333;
 position: absolute;
 right: 10px;
 top: 30px;
}
.search1 {
  width: 470px;
  display: flex;
  padding: 7px 12px;
  height: 45px;
  font-size: 15px;
  padding-left: 45px;
  background-color: white;
  float: right;
}
.timkiem{
  display: flex;

}
.find{
 /*  margin: 50px; */
  margin-left: 30px;
  display: flex;
  padding-top: 20px;

  /* justify-content: flex-end; */
}
.find a {
  width: 350px;
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  padding: 20px 20px 20px 25px;
  line-height: 10px;
  height: 46px;
  border-radius: 2%;
  font-weight: 600;
  background-color: cornflowerblue;
  transition: 0.3s all ease-in-out;
  text-align: center;
  
}
.find a:hover {
  background-color: #ade8f4;
  color:#0096c7;
}
.slider-section {
  background: #f5f5f5;
  width: 100%;
  padding: 50px 0;

}
.slider-section .container {
  max-width: 1170px;
}

.banner{
  display:flex;
  justify-content: space-between;
}

.video{
  width:58%;
}
 .slider {
  width: 40%;
  display:flex;
  position: relative;
 }

 .slider .slick-prev{
  position: absolute;
  z-index:3;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
 }
 .slider .slick-next{
  position: absolute;
  right: 0;
  z-index:3;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
 }

 .slider .slick-next i,
 .slider .slick-prev i{
  font-size: 20px;
  color: #ccc;
 }
 .slider .slick-next,
 .slider .slick-prev{
  position:absolute;
  top:50%;
  padding: 10px 8px 10px 8px;
  cursor: pointer;
  background-color:#fff;
  transition: all 0.3s ease-in-out
 }

 .slider .slick-next:hover i,
 .slider .slick-prev:hover i{
  color: #fff;
 }

 .slider .slick-next:hover,
 .slider .slick-prev:hover{
  background-color:#ccc;
 }

 .video iframe{
  display: none;
  overflow: hidden ;
  opacity: 0 ;
 }

 .hidden{
  display:none;
  opacity: 0;
  overflow: hidden ;
 }

 #videoHome.show{
  display: block;
  opacity: 1;
  overflow:visible;
 }

.banner .video {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 336px;
    cursor: pointer;
}
#imgVideoHome {
  cursor: pointer;
}
.hide {
  display: none!important;
}
.background-video {
  width: 675px;
  position: absolute;
  opacity: 1;
  top: 0;
  cursor: pointer;
}
.baner .slider-container {
  display: flex;
  /* position: relative;
  border-radius: 5px;
  overflow: hidden; */
}

.slider .slider1-caption a h3 {
  line-height: 30px;
  text-decoration: none;
}

.slider .item {
  position: relative;
}

.slider .slider1-caption {
  position:absolute;
  left:0;
  bottom:0;
  padding: 0 20px 20px 20px;
  width: 100%;
}  
.slider .slider1-caption a{
  color:#fff;
  text-decoration: none;
}
.footer {
  background:  linear-gradient(180deg, #28328E 0%, #1361F1 100%) ;
  padding: 40px 24px;
}


.footer .list-address{
  display:flex;
  flex-direction: column;
}

.list-address a{
  color: #fff;
}
.footer .container{
  display:flex;
}

.footer .logo{
  width: 45%;
}

.footer .list{
  width: 39%;
}

.footer .connect{
  width: 16%;
}

.content.footer {
  margin: 0;
}
.logo img {
  width: 150px;
}
.footer .span {
  font-weight: 600;
  font-size: 22px;
  display: flex;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
}

.list p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
  display: flex;
}

.list-address p {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  display:flex ;
}
.list-icon {
  display: flex;
}
.connect {

}
.connect p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
  display:flex;
}

.connect a {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

/* SPLIDE */
.splide {
  padding: 20px 0;
}
.splide .splide__slide a{
  text-decoration: none;
  font-size: 15px;
  line-height: 20px !important;
  color:#1374F6 !important;
  font-weight: bold;
  font-family: "Open Sans"; 
  margin: 0 50px;
  background:url(https://tuyendung.vnpt.vn/images/icon-marquee.png) !important;
  background-repeat: no-repeat !important;
  background-position:  left center !important;
  padding: 0 15px;
}

.splide .splide__list .splide__slide{
  list-style-type: disc !important;
  /* width: 100% !important; */
  display:inline-block !important;
  width: unset !important;
  max-width: unset !important;

}