*{
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  /* tất cả các class có tên bắt đầu là col-1*/
 
  /*Them 1 dòng trống và thiết lập clear:both*/
  .row::after {
  content: "";
  clear: both;
  display: table;
  padding-top: 30px;
  }
@media only screen and (max-width: 768px){
    /*For mobile phones:*/
    [class*="col-"] {
        width: 100%;
    }
}
@media screen and (max-width:540px) {
    .container {
      max-width: 320px !important;
    }
}
@media screen and (max-width:1024px) {
    .container {
      max-width: 960px !important;
    }
}
@media screen and (max-width:769px) {
    .container {
      max-width: 720px !important;
    }
}
  .container {
    max-width: 1170px;
    margin: 0 auto
  }

@media only screen and (min-width: 768px){
    /*For máy tính bảng*/
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px){
    /*For desktop*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  
.container {
  width: 100%;
  overflow: hidden;
}
.head {
  width: 100%;
  height: 395px;
  background: url('../img/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display:flex;
  padding: 20px 0
}

.head1 img {
  width: 124px;

}

#menu ul {
  display: flex;
  justify-content: flex-end;
}
#menu ul li {
  list-style-type: none;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px;
}
#menu ul li a {
  text-decoration: none;
  color: #fff;
  position:relative;
}

#menu ul li a:before{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #caf0f8;
  transition: 0.3s all ease-in-out;
}
#menu ul li:hover a:before{
  width: 100%;
  transition: 0.3s all ease-in-out;
}

.head3 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
  padding-left: 30px;
}
.gioithieu{
  margin: 50px;
  margin-left: 80px;
}
.gioithieu a {
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  /* border: 1px solid #fff; */
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5%;
  font-weight: 600;
  background-color: cornflowerblue;
  transition: 0.3s all ease-in-out;
  
}
.gioithieu a:hover {
  background-color: #ade8f4;
  color: #0096c7;
}
.content,
.content-search {
  width: 100%;
  

}
.title {
  display:flex;
  padding: 20px 0;
  justify-content: center;

}
.title p{
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #333;
  
}
.search-btn {
  padding: 20px 0;
  position: relative
}
.search-btn a {
 color: #333;
 position: absolute;
 right: 10px;
 top: 30px;
}
.search1 {
  width: 100%;
  display: flex;
  padding: 10px 45px;
  height: 45px;
  font-size: 15px;
  background-color: white;
  max-width: 470px;
    margin-right: 0;
    margin-left: auto;
}
.timkiem{
  display: flex;

}
.find{
 /*  margin: 50px; */
  margin-left: 30px;
  display: flex;
  padding: 20px 0;

  /* justify-content: flex-end; */
}
.find a {
  width: 100%;
  max-width: 350px;
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  background-color: cornflowerblue;
  transition: 0.3s all ease-in-out;
  text-align: center;
  
}
.find a:hover {
  background-color: #ade8f4;
  color:#0096c7;
}
.slider-section {
  background: #f5f5f5;
  width: 100%;
  padding: 50px 0;

}
.slider-section .container {
  max-width: 1170px;
}

.banner{
  display:flex;
  justify-content: space-between;
}

.video{
  width:58%;
}
 .slider {
  width: 40%;
  display:flex;
  position: relative;
 }

 .slider .slick-prev{
  position: absolute;
  z-index:3;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
 }
 .slider .slick-next{
  position: absolute;
  right: 0;
  z-index:3;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
 }

 .slider .slick-next i,
 .slider .slick-prev i{
  font-size: 20px;
  color: #ccc;
 }
 .slider .slick-next,
 .slider .slick-prev{
  position:absolute;
  top:50%;
  padding: 10px 8px 10px 8px;
  cursor: pointer;
  background-color:#fff;
  transition: all 0.3s ease-in-out
 }

 .slider .slick-next:hover i,
 .slider .slick-prev:hover i{
  color: #fff;
 }

 .slider .slick-next:hover,
 .slider .slick-prev:hover{
  background-color:#ccc;
 }

 .video iframe{
  display: none;
  overflow: hidden ;
  opacity: 0 ;
 }

 .hidden{
  display:none;
  opacity: 0;
  overflow: hidden ;
 }

 #videoHome.show{
  display: block;
  opacity: 1;
  overflow:visible;
 }

.banner .video {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 336px;
    cursor: pointer;
}
#imgVideoHome {
  cursor: pointer;
}
.hide {
  display: none!important;
}
.background-video {
  width: 675px;
  position: absolute;
  opacity: 1;
  top: 0;
  cursor: pointer;
}
.baner .slider-container {
  display: flex;
  /* position: relative;
  border-radius: 5px;
  overflow: hidden; */
}

.slider .slider1-caption a h3 {
  line-height: 30px;
  text-decoration: none;
}

.slider .item {
  position: relative;
}

.slider .slider1-caption {
  position:absolute;
  left:0;
  bottom:0;
  padding: 0 20px 20px 20px;
  width: 100%;
}  
.slider .slider1-caption a{
  color:#fff;
  text-decoration: none;
}
.footer {
  background:  linear-gradient(180deg, #28328E 0%, #1361F1 100%) ;
  padding: 40px 24px;
}

.footer .container{
  display:flex;
}

.footer .logo{
  width: 45%;
}

.footer .list{
  width: 39%;
}

.footer .list-address{
  display:flex;
  flex-direction: column;
}

.list-address a{
  color: #fff;
}


.footer .connect{
  width: 16%;
}

.logo img {
  width: 150px;
}
.footer .span {
  font-weight: 600;
  font-size: 22px;
  display: flex;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
}

.list p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
  display: flex;
}

.list-address p {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  display:flex ;
}
.list-address i{
  margin-right: 10px
}
.list-icon {
  display: flex;
}
.list-icon a:hover{
  color :#1374F6;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.connect p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
  display:flex;
}

.connect a {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

/* SPLIDE */
.splide {
  padding: 20px 0;
}
.splide .splide__slide a{
  text-decoration: none;
  font-size: 15px;
  line-height: 20px !important;
  color:#1374F6 !important;
  font-weight: bold;
  font-family: "Open Sans"; 
  margin: 0 50px;
  background:url(https://tuyendung.vnpt.vn/images/icon-marquee.png) !important;
  background-repeat: no-repeat !important;
  background-position:  left center !important;
  padding: 0 15px;
}

.splide .splide__list .splide__slide{
  list-style-type: disc !important;
  /* width: 100% !important; */
  display:inline-block !important;
  width: unset !important;
  max-width: unset !important;

}

/* ITEM CHOICE */
.list-choice{
  padding: 50px 0 50px
}
.list-choice .headline h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  text-align:center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.list-item-choice{
  display:flex;
  padding: 0 10px;
  justify-content: space-between;
}
.item-choice{
  width: 32%;
  padding: 0 0 120px;
}

.item-choice img {
  width: 100%;
  border-radius: 10px;
}

.item-choice{
  position: relative;
}

.item-choice-content{
  position: absolute;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 20%);
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  z-index: 2;
  bottom: 15px;
  width: 90%;
}

.item-choice-link{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.item-choice-title{
  color:#333333;
  font-size:20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.item-choice-text{
  font-size: 15px;
  line-height:20px;
  color: #626466;
  margin-bottom: 10px;
}

.item-choice-icon{
  background-color:#1374f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display:flex;
  align-items: center;
  justify-content:center;
  transform: translateX(0px);
  transition: 0.5s all ease-in-out;
}

.item-choice-link:hover .item-choice-icon{
  color: #1374F6;
  background-color: #Ffffff;
  border: 1px solid #1374F6;
  transform: translateX(10px);
  transition: 0.5s all ease-in-out;
}


/* VIEC LAM */

.jobs  {
  padding-bottom: 30px;
}

.list-job {
  margin: 5px 10px;
}
.item-job {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
  border-radius: 10px;
  margin-bottom: 25px;
}

.item-job:hover  {
  transform: scaleX(1.01);
}
.item-job:hover .item-job-view a {
  background-color: #99d98c;
}
.item-image-job {
  width: 10%;
  display: flex;
  align-items: center;
}

.item-image-job img {
  width: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 auto;
    height: 50px;
    display: block;;
}
.item-job-description {
  width: 70%;
}
.item-job-time {
  width: 15%;
  font-size: 18px;
  color: black;
  margin: 15px 0px;
  background: #e0f5d7;
  color: #449626;
}

.item-job-time {
  text-align: center;
}
.item-job-title {
  margin: 15px 0px;
}

.item-job-title h2{
  font-weight: 600;
}
.item-job-address {
  display: flex;
  margin-bottom: 15px;
  color: #8c8c8c;
}
.item-job-location {
  display: flex;
  background: whitesmoke;
  margin-right: 20px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  align-items: center;
}
.item-job-location i {
  margin-right: 10px;
  color:#0096c7;
}

.item-job-country {
  display: flex;
  background: whitesmoke;
  margin-right: 20px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  align-items: center;
}

.item-job-country i {
  margin-right: 10px;
  color:#99d98c;
}

.item-job-timeline {
  display: flex;
  display: flex;
  background: whitesmoke;
  margin-right: 20px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  align-items: center;
}

.item-job-timeline i {
  margin-right: 10px;
  color:brown;
}
.item-job-view {
  margin: 15px;
  vertical-align: middle; /* can giua */
  display: flex;
  align-items: center;

}
.item-job-view a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  background: #e0f5d7;
  margin: 15px;
  padding: 15px 20px;
  vertical-align: middle;
  line-height: 20px;
  max-height: 50px;
  border-radius: 5%;
}



/* LIÊN HỆ */


.lienhe {
  padding: 50px 0px 0px;
  width: 100%;
}
.lienhe-detail {
  margin-top: 10px;
}
.lienhe .lienhe-title {
  position: relative;
}
.lienhe-title-bottom {
  height: 3px;
  width: 20%;
    background: linear-gradient(90deg, #28328E 0%, #1361F1 100%);
}
.lienhe .lienhe-title h2{
  font-family: Open Sans;
  font-weight: 600;
  font-size: 26px;
  color: #333333;
  margin-bottom: 10px;
}
.lienhe-content {
  margin-top: 30px;
}
.lienhe-map {
  width: 100%;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.lienhe-map .bando {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  max-width: 400px;

}

.lienhe-form-contact {
  padding: 50px;
  width: 50%;
}
.form-contact {
  margin-bottom: 20px;
  width: 50%;
  display: flex;
  max-width: 400px;

}
.form-contact .form-control {
  font-size: 16px;
  background-color:#Ffffff ;
  padding: 20px;
  border: 1px solid #ccc;
  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.254);; */
  border-radius: 3px;
  max-width: 400px;

}
/* .lienhe-form-contact .form-contact:hover {
  /* background-color:coral; */
/* } */









